* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: $default;
  line-height: 1.41592654;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}