.layout {
  width: 760px;
  margin: 0 auto;
  background: #FFF;
  padding: 0 20px;

  & > header {
    width: 100%;
    margin-bottom: 20px;
    align-items: flex-start;
    padding: 20px 0;

    & > a {
      display: flex;
      align-items: center;
      img { width: 150px; }
    }

    nav > a {
      font-size: 16px;
      &.active,
      &:hover {
        color: $theme;
      }

      & + a {
        margin-left: 20px;
      }
    }
  }

  & > footer {
    height: 60px;
    margin-top: 40px;

    svg {
      font-size: 28px;
    }
    a + a {
      margin-left: 15px;
    }
  }
}
