.Articles {
  &-table {
    margin-top: 20px;

    &-options {
      i {
        font-size: 16px;
        color: #666;
        cursor: pointer;
        &:hover {
          color: #1890ff;
        }
      }
  
      i + i {
        margin-left: 10px;
      }
    }
  }
}