.Layout {
  display: flex;
  height: 100vh;

  &-logo {
    height: 60px;
    background: rgba(47, 130, 255, .3);
    img {
      width: 42px;
    }
  }

  &-collapsed {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  & > nav {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    background: #001528;
    transition: width .2s ease;
  }

  & > main {
    flex-grow: 1;
    overflow-y: auto;

    & > header {
      height: 60px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
      margin-bottom: 20px;
      h1 {
        margin: 0;
        font-size: 28px;
        color: $dark;
        font-weight: normal;
      }
    }

    & > div {
      padding: 0 15px;
    }
  }

  &-loading {
    i { font-size: 36px; }
    height: 100%;
  }
}