.article {
  &-list >li {
    &:nth-child(n+2) {
      margin-top: 40px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    &:hover {
      color: $theme;
    }
  }

  &-summary {
    word-break: break-all;
    color: $gray;
    @include ellipsis(3)
  }

  &-infos {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $gray;
    margin-top: 5px;

    div {
      display: flex;
      align-items: center;

      &:nth-child(n+2) {
        margin-left: 15px;
      }

      span {
        font-style: normal;
      }

      svg {
        font-size: 12px;
        margin-right: 4px;
      }
    }
  }
}