.article {
  &-list >li {
    &:nth-child(n+2) {
      margin-top: 40px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    a:hover {
      color: $theme;
    }
  }

  &-summary {
    line-height: 1.65;
    word-break: break-all;
    color: $gray;
    @include ellipsis(3)
  }

  &-infos {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $gray;
    margin-top: 5px;

    div {
      display: flex;
      align-items: center;

      &:nth-child(n+2) {
        margin-left: 15px;
      }

      span {
        font-style: normal;
      }

      svg {
        font-size: 12px;
        margin-right: 4px;
      }
    }
  }

  &-pagination {
    margin-top: 40px;
    font-size: 18px;
    border-top: 1px solid $light;
    padding-top: 20px;

    & > a {
      color: $gray;
      display: flex;
      align-items: center;
      transition: .3s ease-in-out;
      line-height: 1;

      &:nth-child(1) {
        transform: translate(8px);
      }

      &:nth-child(2) {
        transform: translate(-8px);
      }

      &:hover {
        color: $theme;
        transform: translate(0)
      }
    }
  }
}