.md-style {
  &-air {
    img,
    canvas,
    iframe,
    video,
    svg,
    select,
    textarea {
      max-width: 100%;
    }
  
    blockquote {
      margin: 0;
      border-left: 5px solid #7a7a7a;
      font-style: italic;
      padding-left: 1.33em;
    }
  
    p,
    li {
      code {
        background: #fafafa;
        padding: .2em .4em;
        font-size: .85em;
        border-radius: 2px;
      }
    }
  }
}